.cards-group {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 33px;

    @media screen and (max-width: 768px){
        align-items: flex-start;
    }
}

.home-body{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    position: relative;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1023px){
        height: 100%;
    }
}

.connect-four-title{
    width: 100%;
    max-width: 800px;

    h2{
        text-align: left;
        font: normal normal 600 28px/42px Poppins;
        letter-spacing: 0px;
        color: #3D4276;
        font-size: 28px;
        text-transform: uppercase;
    }
    p{
        text-align: left;
        font: normal normal normal 18px/27px Poppins;
        letter-spacing: 0px;
        color: #949494;
        white-space: pre;
        font-size: 18px;
    }
    @media screen and (max-width: 1440px){
        max-width: 600px;     
    }
}

.button-group {
    position: relative;
    bottom: 0;
    left: 0 ;
    right: 0;

    @media screen and (max-width: 1023px){
        width: 100%;
        display: flex;
        flex-direction: column;
        .row-buttons{
            flex-direction: column;
        }
        .button{
            width: 100%;
            margin: 5px;
        }        
    }
}


.main-card-content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .play-button{
        width: 132px;
        height: 132px;
        background: #FF7243 0% 0% no-repeat padding-box;
        box-shadow: 10px 10px 50px #FF724373;
        border-radius: 20px;
        opacity: 1;
        margin-right: 75px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        i {
           color: white;
           font-size: 35px;
           margin-top: 15px;
        }
        
        label{
            font-size: 22px;
        }

        @media screen and (max-width: 1440px){
            width: 100px;
            height: 100px;
            margin-right: 0;
            margin-left: 100px;            
        }
    }

    .playing-img{
        width: 520px;
        height: 560px;
        opacity: 1;
        background: url("../../Assets/images/4inarow.png") no-repeat;
        position: relative;
        z-index: 100;
        position: relative;
        top: -120px;
        right: -110px;     
        
        @media screen and (max-width: 1440px){
            width: 420px;
            height: 460px;
            background-size: contain;
            top: -60px;  
            right: -80px;          
        }
    }
    @media screen and (max-width: 1000px){
        display: none;
    }
}

.customCard, .card-behind {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 660px;
    z-index: 2001;
    position: absolute;

    @media screen and (max-width: 1440px){
        max-width: 600px;
        min-height: 560px;
        max-height: 660px;
    }
}

.card-behind {
    z-index: 2000;
    top: 10%;
    background: #EEEEEE 0% 0% no-repeat padding-box;
    border: 1px solid #F7F7F7;
}

.card-content-back-visiable {
    position: absolute;
    bottom: 50px;
}

.divider {
    border: 1px solid #F7F7F7;
    width: 100%;
    z-index: -1;
    border-radius: 20%;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.top-circle, .right-circle{
    position: absolute;
    top: 20%;
    right: -10%;
    z-index: -1;
    width: 195px;
    height: 191px;
    border: 30px solid #E6FFE9;
    border-radius: 50%;
    opacity: 0.65;
}

.top-circle {
    top: -10%;
    left: 45%;
    z-index: -1;
    width: 110px;
    height: 110px;    
    border: 20px solid #FFF7DB;    
}