.button{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media screen and (max-width: 1023px){
        width: 100%;
        margin: 10px;
    }    
}

button{
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.custom-players-card {
    width:100%;
    height: 100%;
    max-width: 760px;
    max-height: 892px;
    margin-top: 120px;

    
    .avatar {
        width: 110px;
        height: 110px;
    }

    @media screen and (max-width: 1440px){
        max-width: 560px;
        max-height: 652px;
        
        .playerbox-container {
            max-height: 80px;

            .avatar {
                width: 60px;
                height: 60px;
            }
            .description {
                h2, p{
                    margin: 5px;
                }
            }
        }
    }
}


.player1Input input{
    background-color: #DCF6E4;

    &:focus{
        outline: none;
    }
}

.player2Input input{
    background-color: #F6EFD5;
    
    &:focus{
        outline: none;
    }
}

.games input, .whostarts input{
    background-color: #EFF3FF;
    
    &:focus{
        outline: none;
    }
}