.playerbox-container{
    background: #DCF6E4;
    border: 1px solid #70707026;
    border-radius: 15px;
    padding: 14px 17px 15px; 
    display: flex;
    margin-top: 10px;

    .description{
        margin-left:22px;
        letter-spacing: 0px;
        color: #424242;
        text-align: left;
        h2{
            font: normal normal normal 28px/42px Poppins;
            font-size: 28px;
        }
        p{
            text-align: left;
            font: normal normal normal 18px/27px Poppins;
        }
    }
}